#menu-seções {
    font: var(--span)
}

.seções {
    display: flex;
    justify-content: space-around;
    padding: 14px 32px;
    border-bottom: 1px solid var(--stroke-color);
    gap: 10px;
    flex-wrap: wrap;
}
