#features {
    
    .card {     
        position: relative;   
        overflow: hidden;     
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(180deg, transparent 0%, black 100% );
            top: 50%;
            border-radius: 4px;
        }
    
        figcaption {
            position: absolute;
            bottom: 0;
            padding: 24px;
    
            &:has(.text-lg) {
                padding: 12px;
            }
    
            h2 {
                margin-top: 8px;
                max-height: 127px;
            }
    
    
        }
    }
}

#weekly {
    
    header {
        justify-content: space-between;
        border-top: 1px solid var(--stroke-color);
        padding-top: 24px;
        font: var(--span);

        a {
            span {
                background-image: url(../assets/arrow-right.svg);
                width: 16px;
                height: 16px;
            }
            
            &:hover {
                span {
                    background-image: url(../assets/ArrowRight-hover.svg);
                    width: 16px;
                    height: 16px;
                }

            }
        }
    }

    

    .card {
        position: relative;


       .p-absolute {
        position: absolute;
       }

       .margin-8 {
        margin: 8px;
       }
       
       figcaption {
        margin-top: 8px;
       }
    }


}

#ai {
    header {
        justify-content: space-between;
        border-top: 1px solid var(--stroke-color);
        padding-top: 24px;
        font: var(--span);

        a {
            span {
                background-image: url(../assets/arrow-right.svg);
                width: 16px;
                height: 16px;
            }
            
            &:hover {
                span {
                    background-image: url(../assets/ArrowRight-hover.svg);
                    width: 16px;
                    height: 16px;
                }

            }
        }
    }

    img {
        width: 176px;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    h3 {
        margin-block: 8px 4px;
    }
}

#aside {
    
    div>img {
        width: 488px;
    }

    header {
        justify-content: space-between;
        border-top: 1px solid var(--stroke-color);
        padding-top: 12px;
        font: var(--span);

        a {
            span {
                background-image: url(../assets/arrow-right.svg);
                width: 16px;
                height: 16px;
            }
            
            &:hover {
                span {
                    background-image: url(../assets/ArrowRight-hover.svg);
                    width: 16px;
                    height: 16px;
                }

            }
        }
    }

    article {
        img {
            width: 72px;
            
        }
    }

}